@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section{
    width: 320px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border-radius: 12px;
    padding: 30.26px;
}
img{
    max-width: 100%;
    border-radius: 7px;
}
h1{
    margin: 0.8rem 0rem 0rem 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: auto;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
p{
    margin: 0.8rem 0rem 2rem 0rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: auto;
    display: flex;
    align-items: center;
    text-align: center;

    color: #898989;
}
@media (max-width: 768px){

}